.form {
  margin: 3.5rem 2.5rem;
  border: 1px solid var(--primaryMediumColor);
  border-radius: var(--borderRadius);
}

.form header {
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.form header h1 {
  color: var(--copyLightColor);
  margin: 1rem;
}

.form main {
  margin: 0 1rem;
}

.file_field span,
.form label {
  grid-area: label;
}

.file_field label,
.form input:not([type='file']),
.form select {
  grid-area: input;
}

.form input:not([type='file']),
.form select {
  font-size: var(--fs-l);
  color: var(--copyColor);
  line-height: var(--lineHeightStandard);
  padding: 0.75rem;
  border: 1px solid var(--primaryMediumColor);
  border-radius: var(--borderRadius);
  background-color: transparent;
}

.form select {
  text-transform: capitalize;
}

.file_field label,
.form input:not([type='file']):focus,
.form select:focus {
  outline: solid 2px var(--primaryColor);
}

.form select option {
  text-transform: capitalize;
}

.form select option::first-letter {
  text-transform: uppercase;
}

.field {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  row-gap: 1rem;
  grid-template-areas:
    'label'
    'input'
    'error';
  margin: 1rem auto;
}

.field .error {
  grid-area: error;
  color: var(--errorColor);
}

/* .form input[type='file']::file-selector-button */
.file_field label {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.25rem;

  background-color: var(--primaryColor);
  border-radius: var(--borderRadius);
  border: 1px solid var(--primaryColor);
  color: var(--copyLightColor);
  cursor: pointer;

  font-size: var(--fs-base);
  font-weight: var(--fw-semiBold);
  padding: 12px 50px;
  text-decoration: none;
  transition: var(--animDuration) var(--animEase);
}

/* .form input[type='file']::file-selector-button:hover */
.file_field label:hover {
  border-color: var(--primaryColor);
  background-color: var(--white);
  color: var(--primaryColor);
}

.file_field label:hover svg {
  fill: var(--primaryColor);
}

.file_field input {
  display: none;
}

.file_field svg {
  fill: var(--white);
}

.form footer {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
}

.map_input_map {
  grid-area: input;
  height: 30vh;
  border: 1px solid var(--primaryMediumColor);
  border-radius: var(--borderRadius);
}

.map_input_form {
  padding: 0 !important;

  /* border: 1px solid var(--primaryMediumColor) !important; */
}

.map_input_input {
  margin: 0 !important;

  font-size: var(--fs-sm) !important;
}

@media screen and (min-width: 720px) {
  .field {
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column dense;
    column-gap: 1rem;
    grid-template-areas:
      'label input'
      '. error';
  }
}
