.app {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'form' 'map';
  grid-auto-flow: row;
  row-gap: 2rem;

  min-height: 100vh;
}

.app aside {
  grid-area: form;
}

.app section {
  grid-area: map;
}

@media screen and (min-width: 720px) {
  .app {
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'form map';
    grid-auto-flow: column;
    column-gap: 1rem;
  }
}
