.marker_popup div div {
  border: 1px solid var(--primaryMediumColor);
  border-radius: var(--borderRadius);
}

.marker_popup header {
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.marker_popup header h3 {
  font-size: var(--fs-l);
  text-align: center;
  color: var(--copyLightColor);
  margin: 1rem;
}

.marker_popup main {
  margin: 0 1rem;
  text-align: center;
}

.marker_popup main * {
  margin: 0.5rem auto;
}

.marker_popup main h6 {
  font-size: var(--fs-base);
  text-transform: capitalize;
}

.marker_popup main img {
  width: 4rem;
}

.marker_popup footer {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
}

.marker_popup footer button {
  padding: 6px 12px;
}
