@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --lightGrey: #f2f3f4;
  --blackPearl: #acb1b6;
  --blackPearl-66: #59636e;
  /* COLORS */
  --white: #ffffff;
  --black: #031323;
  --accentColor: #201d29;
  --borderColor: #d6d6d6;
  --copyColor: #333333;
  --copyDarkColor: var(--black);
  --copyLightColor: var(--white);
  --primaryColor: #ab61e5;
  --primaryLightColor: #faf5ff;
  --primaryMediumColor: #e7e2f8;
  --errorColor: #c94256;

  /* TYPOGRAPHY */
  --font-family: 'Open Sans', sans-serif;
  --fs-base: 1rem;
  --fs-l: 1.25rem;
  --fs-sm: 0.75rem;
  --fs-xl: 1.75rem;
  --fs-xxl: 2rem;
  --fw-extrabold: 900;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 300;
  --fw-semiBold: 600;
  --lineHeight: 1.2;
  --lineHeightStandard: 22px;

  /* BUTTON */
  --animDuration: 0.3s;
  --animEase: ease-out;
  --borderRadius: 5px;

  --baseHorzSpacing: 2rem;
  --baseVertSpacing: 3rem;

  --baseBorder: 1px solid var(--borderColor);
}

* {
  box-sizing: border-box;
  line-height: var(--lineHeight);
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  color: var(--copyColor);
  font-size: var(--fs-base);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 0.45em;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--copyDarkColor);
}

h1 {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-regular);
}

h2 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semiBold);
}

h3 {
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.15px;
  color: var(--copyColor);
}

p {
  font-weight: var(--fw-regular);
}

a {
  color: var(--primaryColor);
  cursor: pointer;
  font-weight: var(--fw-semiBold);
}
